@import url('https://fonts.cdnfonts.com/css/seven-segment');
html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

#calc-body{
    min-height: 95%;
    min-width: 55%;
    background-color: blue;
    border-radius: 20%;
}

#calc-screen{
    min-height: 8rem;
    max-width: 85%;
    background-color: gray;
    margin-top: 3.5rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: end;
}

#screen-disp{
    font-family: 'Seven Segment', sans-serif;
    font-size: 5.5rem;
    margin-right: 1rem;
    direction: ltr;
    user-select: none;
}

#operation-flag-label{
    font-size: 1.25rem;
    color: white;
    text-align: center;
}

#operation-flag{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-top: .5%;
    margin-right: 1.5rem;
}

button{
    border-radius: 1rem;
}

#clear-btns{
    display: flex;
    align-items: center;
    gap: 2%;
    justify-content: end;
    margin-right: 15%;
}

.clear-btn{
    height: 3.5rem;
    width: 20%;
    margin-top: 2%;
    margin-bottom: 3%;
    font-size: 2.25rem;
    font-family: 'Seven Segment', sans-serif;
}

#clear{
    border-color: blue;
    background-color: skyblue;
    color: black;
}

#all-clear{
    background-color: red;
    color: white;
    border-color: darkred;
}

#button-section{
    height: 100%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#number-holder{
    height: 28rem;
    width: 65%;
    background-color: darkblue;
    border-radius: 1rem;
    display: inline-grid;
    grid-template-columns: auto auto auto;
}

#operands-holder{
    height: 28rem;
    width: 20%;
    background-color: darkblue;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 1rem;
}

.num-btn{
    height: 4.5rem;
    width: 50%;
    font-family: 'Seven Segment', sans-serif;
    margin: auto;
    font-size: 4.5rem;
    border-color: blue;
    background-color: skyblue;
    color: black;
}

.operand{
    font-size: 2rem;
    height: 4rem;
    width: 75%;
    font-family: 'Seven Segment', sans-serif;
    padding-bottom: 0%;
    margin-bottom: 0%;
    border-color: blue;
    background-color: skyblue;
    color: black;
}

#ans{
    padding-top: 0;
    margin-top: 0%;
    font-size: 3.5rem;
    height: 35%;
    width: 75%;
    background-color: red;
    color: white;
    border-color: darkred;
}